# environment

node_modules
.idea
/*.log



# js compilation

/dist



# scraper source

/source/*
/source/*.json
/source/*.yml



# scraper data

/data/*



# user data

user.json



# test data

tests/fixtures/index/index.html
