# environment

node_modules
.idea
/*.log



# js compilation

/dist
/dist.tmp



# public

/public



# scraper source

/source/*



# scraper data

/data/*



# user data

user.json



# test data

tests/fixtures/index/index.html
