<footer class="footer">
    <div class="footer__content">
        {{#each items}}
            <div class="footer__item">
                {{{.}}}
            </div>
        {{/each}}
    </div>
</footer>
