<footer class="footer">
    <div class="footer__content">
        <div class="footer__item">
            {{{github}}}
        </div>
        <div class="footer__item">
            {{{copy}}}
        </div>
    </div>
</footer>
