<header class="header">
    <div class="header__content">
        {{#if link}}
            <div class="header__link">
                <a class="header__link__elem" href="{{link.href}}" title="{{link.title}}">{{link.title}}</a>
            </div>
        {{/if}}
        <div class="header__heading">
            {{#> heading tag=h1 level=1}}
                {{heading}}
            {{/heading}}
        </div>
    </div>
</header>
