<section class="news-section">
    <div class="news-section__heading">
        {{#>heading tag='h2' level=2}}
            {{title}}
        {{/heading}}
    </div>
    <div class="news-section__url">{{url}}</div>
    <div class="news-section__content">
        {{#each data}}
            {{> news-item }}
        {{/each}}
    </div>
</section>
