<section class="news-section">
    <div class="news-section__heading">
        {{#>heading tag='h2' level=2}}
            {{title}}
        {{/heading}}
    </div>
    <div class="news-section__url">{{url}}</div>
    <div class="news-section__news">
        <div class="news-section__news__content">
            {{#each data}}
                {{> news-item }}
            {{/each}}
        </div>
    </div>
</section>
