<section class="news-section">
    <div class="news-section__heading">
        <h2 class="heading heading--2">{{title}}</h2>
    </div>
    <div class="news-section__url">{{url}}</div>
    <div class="news-section__content">
        {{#each data}}
            {{> news-item }}
        {{/each}}
    </div>
</section>
