<div class="progress">
    <!-- hidden until implementation is complete -->
    <div class="progress__element" style="display: none;">
        <progress value="1" max="250"></progress>
    </div>
    <div class="progress__message"></div>
</div>
