/* Button
---------------------------------------------------------------------------------- */

button,
input[type=button],
input[type=submit],
.button {
    display: inline-block;
    vertical-align: top;

    height: $offset-s * 2 + $font-size-n;
    padding: $offset-s $offset-n;
    border: 1px solid transparent;
    border-bottom-color: darken($color-brand-secondary, 25%);
    border-radius: $radius-regular;
    background: $color-brand-secondary;

    color: $color-text-inverse-strong;
    font-family: #{$font-family-main}, #{$font-family-fallback};
    font-size: $font-size-n;
    text-shadow: $text-shadow;
    line-height: 1;

    appearance: none;
    cursor: pointer;
    user-select: none;

    transition: background $transition-duration $transition-effect;

    &:hover {
        background: darken($color-brand-secondary, 6%);
    }

    &:active {
        background: lighten($color-brand-secondary, 2%);
    }
    
    &[disabled],
    &.button--is-disabled {
        background: $color-bg-strong;
        border-color: $color-bg-stronger;

        color: $color-text-inverse;
        
        cursor: not-allowed;
    }
}

button.button--secondary,
input[type=button].button--secondary,
input[type=submit].button--secondary,
.button.button--secondary {
    border-color: $color-brand-main-dark;
    background: $color-bg-regular;

    color: $color-brand-main-dark;
    text-shadow: none;

    &:hover {
        border-color: darken($color-brand-main-dark, 14%);
        color: darken($color-brand-main-dark, 14%);
    }

    &:active {
        background: $color-bg-lightest;
    }

    &[disabled],
    &.button--is-disabled {
        background: $color-bg-light;
        border-color: $color-bg-strong;

        color: $color-text-light;

        cursor: not-allowed;
    }
}

.button--small {
    height: $offset-s * 2 + $font-size-s;

    font-size: $font-size-s;
}

.button--big {
    height: $offset-s * 2 + $font-size-l;

    font-size: $font-size-l;
}

.button--full {
    width: 100%;
}

/* /Button
---------------------------------------------------------------------------------- */
