/* Checkbox
---------------------------------------------------------------------------------- */

.checkbox {
    cursor: pointer;
    user-select: none;
}

.checkbox__element {
    display: inline-block;
    vertical-align: top;

    height: 1em * $line-height-n;
}

.checkbox__text {
    display: inline-block;
    vertical-align: top;

    margin-left: $offset-s;
}

.checkbox--pseudo {
    .checkbox__element {
        @include hidden();
    }
}

.checkbox--fluid {
    display: block;
    
    width: 100%;
}

/* /Checkbox
---------------------------------------------------------------------------------- */
