/* Main
---------------------------------------------------------------------------------- */

.content {

}

.content__heading {
    max-width: $page-max-width;
    margin: $offset-n auto;
    padding: 0 $page-side-padding;
}

.content__content {
    max-width: $page-max-width;
    margin: $offset-n auto;
    padding: 0 $page-side-padding;
}

/* /Main
---------------------------------------------------------------------------------- */
