/* Main
---------------------------------------------------------------------------------- */

.content {

}

.content__content {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $offset-n $page-side-padding;
}

/* /Main
---------------------------------------------------------------------------------- */
