/* Core
---------------------------------------------------------------------------------- */

@import "assets";

* {
    box-sizing: border-box;
}

html {
    height: 100%;

    background: $color-brand-main-dark;
}

body {
    min-height: 100%;

    margin: 0;

    overflow: hidden;
    overflow-y: scroll;

    background: $color-bg-lightest;

    font: #{$root-font-size-mobile}/#{$line-height-n} Tahoma, "Helvetica Neue", Arial, sans-serif;
    color: $color-text-regular;

    @include respond($mq-desktop) {
        font-size: $root-font-size-desktop;
    }
}

a {
    color: $color-text-regular;

    &:hover {
        color: $color-text-strong;
    }
}

/* /Core
---------------------------------------------------------------------------------- */
