/* Core
---------------------------------------------------------------------------------- */

@import "assets";

html {
    background: $color-bg-regular;
}

body {
    margin: 0;

    overflow: hidden;
    overflow-y: scroll;

    background: $color-bg-regular;

    font: #{$root-font-size-mobile}/#{$line-height-n} Tahoma, "Helvetica Neue", Arial, sans-serif;
    color: $color-text-regular;

    @include respond($mq-desktop) {
        font-size: $root-font-size-desktop;
    }
}

a {
    display: block;
    padding: $offset-s;
    color: $color-text-strong;

    &:hover {
        color: $color-text-inverse-strong;
        background: $color-bg-inverse;
    }
}

/* /Core
---------------------------------------------------------------------------------- */
