/* Core
---------------------------------------------------------------------------------- */

@import "assets";

* {
    box-sizing: border-box;
}

html {
    background: $color-brand-main-dark;
}

body {
    background: $color-bg-lightest;

    font: #{$root-font-size-mobile}/#{$line-height-n} Tahoma, "Helvetica Neue", Arial, sans-serif;
    color: $color-text-regular;

    @include respond($mq-desktop) {
        font-size: $root-font-size-desktop;
    }
}

/* /Core
---------------------------------------------------------------------------------- */
