/* Form
---------------------------------------------------------------------------------- */

/* Form layout
-------------------------------------------------- */

.form {

}

.form__row {
    &:not(:empty) + &:not(:empty) {
        margin-top: $offset-n;
    }
}

/* /Form layout
-------------------------------------------------- */


/* Common elements
-------------------------------------------------- */

.form__error {
    color: $color-util-error;
    font-size: $font-size-s;
}

/* /Common elements
-------------------------------------------------- */

/* /Form
---------------------------------------------------------------------------------- */
