/* Header
---------------------------------------------------------------------------------- */

.header {
    border-bottom: $offset-xs solid $color-border-light;
    background: $color-brand-main;
    color: $color-text-inverse-strong;
}

.header__content {
    position: relative;
    
    display: flex;

    align-items: center;
    
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $offset-n $page-side-padding;
}

.header__link {
    margin-right: $offset-s;
}

.header__link__elem {
    color: $color-brand-main-dark;

    &:hover {
        color: $color-text-inverse-strong;
    }
}

.header__heading {
    flex: 1 0 auto;
}

.header__version {
    position: absolute;

    top: $offset-xs;
    right: $page-side-padding;
    
    text-align: right;
}

/* /Header
---------------------------------------------------------------------------------- */
