/* Header
---------------------------------------------------------------------------------- */

.header {
    border-bottom: $offset-xs solid $color-border-light;
    background: $color-brand-main;
    color: $color-text-inverse-strong;
}

.header__content {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $offset-n $page-side-padding;

    * + * {
        margin-top: $offset-s;
    }

    @include respond($mq-desktop) {
        display: flex;

        align-items: center;

        * + * {
            margin-top: 0;
            margin-left: $offset-n;
        }
    }
}

.header__link {

}

.header__link__elem {
    color: $color-brand-main-dark;

    &:hover {
        color: $color-text-inverse-strong;
    }
}

.header__heading {

}

/* /Header
---------------------------------------------------------------------------------- */
