/* Layout
---------------------------------------------------------------------------------- */

.header {
    display: flex;

    align-items: center;

    padding: $offset-n;

    background: $color-brand-main-dark;
    color: $color-text-inverse-strong;

    * + * {
        margin-left: $offset-n;
    }
}

.header__index__link {
    color: $color-text-inverse-light;

    &:hover {
        color: $color-text-inverse-strong;
    }
}

.header__heading {

}

.main {

}

/* /Layout
---------------------------------------------------------------------------------- */
