/* Link
---------------------------------------------------------------------------------- */

a,
.link {
    color: $color-text-regular;

    &:hover {
        color: $color-text-strong;
    }
}

.link {
    cursor: pointer;
}

.link--pseudo {
    text-decoration: none !important;
    border-bottom: 1px dashed;
}

[data-id*=trigger] {
    user-select: none;
}

/* /Link
---------------------------------------------------------------------------------- */
