/* Link
---------------------------------------------------------------------------------- */

a,
.link {
    color: $color-text-regular;

    &:hover {
        color: $color-text-strong;
    }
}

.link {
    cursor: pointer;
}

.link--tdn {
    text-decoration: none !important;
}

.link--pseudo {
    text-decoration: none !important;
    border-bottom: 1px dashed;
}

.link--inverse {
    color: $color-text-inverse;

    &:hover {
        color: $color-text-inverse-strong;
    }
}

.link--brand {
    color: $color-brand-main-dark;
    
    &:hover {
        color: $color-brand-main;
    }
}

.link--brand-inverse {
    color: $color-brand-main-dark;

    &:hover {
        color: $color-text-inverse-strong;
    }
}

[data-id*=trigger] {
    user-select: none;
}

/* /Link
---------------------------------------------------------------------------------- */
