/* Message
---------------------------------------------------------------------------------- */

.message {
    color: $color-text-regular;
}

.message--error {
    color: $color-util-error;
}

.message--info {
    color: $color-util-info;
}

.message--success {
    color: $color-util-success;
}

.message__content {
    font-size: $font-size-s;
}

/* /Message
---------------------------------------------------------------------------------- */
