/* News item
---------------------------------------------------------------------------------- */

@import "assets";

$itemWidth: 33.333333%;

.news-item {
    padding: 0 $offset-s;

    & + & {
        margin-top: 1px;
    }

    @include respond($mq-desktop) {
        display: flex;

        flex: 1 1 25%;
        max-width: $itemWidth;
        min-width: $itemWidth;
        width: $itemWidth;

        margin-top: $offset-s;
        margin-bottom: $offset-s;

        & + & {
            margin-top: $offset-s;
        }
    }
}

.news-item__link {
    display: block;

    width: 100%;

    padding: $offset-s;
    border: 1px solid transparent;

    background: $color-bg-regular;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, .8);

    text-decoration: none;

    @include respond($mq-desktop) {
        border-radius: 2px;

        &:hover {
            border-color: $color-bg-strong;
        }
    }
}

.news-item__image {
    margin: 0;

    font-size: 0;
}

.news-item__image__pic {

}

.news-item__heading {
    @include text-wrap();
}

.news-item__author {
    color: $color-text-light;
    font-size: $font-size-s;
}

.news-item__date {
    color: $color-text-light;
    font-size: $font-size-s;
}

/* /News item
---------------------------------------------------------------------------------- */
