/* News section
---------------------------------------------------------------------------------- */

@import "assets";

.news-section {
    padding: $offset-n 0;

    border-bottom: 1px solid $color-brand-main;

    &:hover {
        background: $color-bg-regular;
    }
}

.news-section__heading {

}

.news-section__url {
    margin-top: $offset-n;

    font-size: $font-size-s;
}

.news-section__content {
    margin-top: $offset-l;
}

/* /News section
---------------------------------------------------------------------------------- */
