/* News item
---------------------------------------------------------------------------------- */

@import "assets";

.news-item {
    margin: $offset-s;

    background: $color-bg-regular;

    box-shadow: 0 1px 5px -2px rgba(0,0,0,.8);
    border-radius: 2px;
}

.news-item__link {
    display: block;

    padding: $offset-s;
    border: 1px solid transparent;

    text-decoration: none;

    &:hover {
        border-color: $color-bg-strong;
    }
}

.news-item__image {
    margin: 0;

    font-size: 0;
}

.news-item__image__pic {

}

.news-item__heading {

}

.news-item__author {
    color: $color-text-light;
    font-size: $font-size-s;
}

.news-item__date {
    color: $color-text-light;
    font-size: $font-size-s;
}

/* /News item
---------------------------------------------------------------------------------- */
