/* News section
---------------------------------------------------------------------------------- */

@import "assets";

.news-section {
    & + & {
        padding-top: $offset-n;
        margin-top: $offset-n;

        border-top: 1px solid $color-brand-main;
    }
}

.news-section__heading {
    color: $color-brand-main;
}

.news-section__url {
    margin-top: $offset-n;

    font-size: $font-size-s;
}

.news-section__content {
    margin-top: $offset-l;
    margin-left: -$page-side-padding;
    margin-right: -$page-side-padding;

    @include respond($mq-desktop) {
        display: flex;

        flex-wrap: wrap;
    }
}

/* /News section
---------------------------------------------------------------------------------- */
