/* Progress
---------------------------------------------------------------------------------- */

.progress {
    display: flex;
    
    padding: $offset-s;
    
    background: $color-bg-inverse-light;
    color: $color-text-inverse-light;

    line-height: $line-height-n;
}

.progress__content {
    flex: 1 1 auto;
}

.progress__control {
    flex: 0 1 auto;

    margin-left: $offset-n;
}

.progress__element {
    height: $offset-s;
    margin-bottom: $offset-s;
    
    progress {
        appearance: none;
        vertical-align: super;
        
        width: 100%;
        height: $offset-s;

        border-radius: $radius-regular;

        &[value]::-webkit-progress-bar {
            background-color: $color-brand-main-light;
            border-radius: $radius-regular;
        }

        &[value]::-webkit-progress-value {
            background-color: $color-brand-main-dark;

            transition: all $transition-duration $transition-effect;
        }
    }
}

.progress__message {
    display: flex;
    
    align-items: flex-end;

    height: $font-size-s * $line-height-n;
    overflow: hidden;
    
    font-size: $font-size-s;
    
    transition: color $transition-duration $transition-duration;
    
    &:hover {
        color: $color-text-inverse-strong;
        
        cursor: s-resize;
    }
}

.progress__message--is-expanded {
    height: auto;

    &:hover {
        color: $color-text-inverse-light;

        cursor: n-resize;
    }
}

.progress__message__content {
    width: 100%;

    & > div {
        @include truncate();
    }
}

.progress__message--is-expanded .progress__message__content {
    max-height: 5.5 * $font-size-s * $line-height-n;

    overflow-y: auto;
    
    & > div {
        color: $color-text-inverse-light;

        &:nth-last-child(2) {
            color: $color-text-inverse;
        }
        
        &:last-child {
            color: $color-text-inverse-strong;
        }
    }
}

.progress__feedback {
    display: flex;
    
    justify-content: center;
    align-items: center;

    font-size: $font-size-s;
}

.progress__feedback__item {
    flex: 0 1 auto;
    
    & + & {
        margin-left: $offset-n;
    }
}

/* /Progress
---------------------------------------------------------------------------------- */
