/* Scraper
---------------------------------------------------------------------------------- */

.scraper {
    padding: 0 $page-side-padding;
}

.scraper__heading {
    margin-bottom: $offset-l;
}

.scraper__form {
    position: relative; // spinner context
}

/* /Scraper
---------------------------------------------------------------------------------- */
