/* Scraper
---------------------------------------------------------------------------------- */

.scraper {

}

.scraper__heading {
    margin-bottom: $offset-l;
}

.scraper__settings {
    border-bottom: 1px solid $color-border-regular;
}

.scraper__error {
    padding: $offset-s;
    background: $color-bg-light;
}

.scraper__form {
    position: relative; // spinner context
    
    min-height: $offset-n * 10;
}

.scraper__progress {
}

/* /Scraper
---------------------------------------------------------------------------------- */
