/* Scraper
---------------------------------------------------------------------------------- */

.scraper {
}

.scraper__sidebar {
}

.scraper__main {
}

.scraper__heading {
    margin-bottom: $offset-l;
}

.scraper__debug {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: $z-index-sticky;
    
    width: 100%;
    padding: $offset-n;

    text-align: right;
    
    @include respond($mq-desktop) {
        bottom: auto;
        top: $offset-n;

        width: 50%;
    }
}

.scraper__settings {
    border-bottom: 1px solid $color-border-regular;
}

.scraper__error {
    margin-bottom: $offset-l;
    padding: $offset-s;

    background: $color-bg-light;
}

.scraper__form {
    display: flex;
    flex-flow: column;
    
    max-height: 75vh;
    
    @include respond($mq-desktop) {
        min-height: 21rem;
        max-height: 65vh;
    }
}

.scraper__progress {
    margin-bottom: $offset-l;
}

.scraper__results {
}

.scraper__results__empty-message {
    padding: $offset-l;
    min-height: 50vh;

    border: 1px dashed $color-border-regular;
    border-radius: $radius-medium;

    font-size: $font-size-xl;
    text-align: center;
    
    @include respond($mq-desktop) {
        min-height: 20vh;
    }
}

/* /Scraper
---------------------------------------------------------------------------------- */
