/* Sidebar
---------------------------------------------------------------------------------- */

.sidebar {
    position: absolute;
    
    top: $offset-n;
    right: $offset-n;
    
    @include respond($mq-desktop) {
        position: static;
    }
}

.sidebar__open {
    font-size: $font-size-xl;
    color: $color-text-inverse-strong;

    cursor: pointer;
    
    @include respond($mq-desktop) {
        display: none;
    }
}

.sidebar__close {
    position: absolute;
    top: $offset-n;
    right: $offset-n;

    font-size: $font-size-l;

    cursor: pointer;

    @include respond($mq-desktop) {
        display: none;
    }
}

.sidebar__content {
    @include transition(transform, 1.5);
    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 15vw;
    z-index: $z-index-modal;
    
    padding: $offset-n 0;
    padding-top: $offset-n * 3;

    background: $color-bg-light;
    box-shadow: -1px 0 15px -1px $overlay-color;
    
    transform: translateX(105%);

    .sidebar--is-opened & {
        transform: translateX(0);
        transition-delay: $transition-duration / 2;
    }
    
    @include respond($mq-desktop) {
        position: static;
        
        padding: 0;
        
        background: transparent;
        box-shadow: none;
        
        transform: none;
    }
}

/* /Sidebar
---------------------------------------------------------------------------------- */
