/* Textarea
---------------------------------------------------------------------------------- */

textarea,
.textarea {
    padding: $offset-s;

    width: 100%;
    max-height: 10em * $line-height-n;

    border: 1px solid $color-border-regular;
    border-radius: $radius-regular;

    color: $color-text-strong;
    font-family: monospace;
    font-size: $font-size-s;

    resize: vertical;
}

/* /Textarea
---------------------------------------------------------------------------------- */
