/* Typography
---------------------------------------------------------------------------------- */

/* Icon font
-------------------------------------------------- */

@font-face {
    font-family: 'Linearicons';
    src:url('fonts/Linearicons-Free.eot');
    src:url('fonts/Linearicons-Free.eot') format('embedded-opentype'),
    url('fonts/Linearicons-Free.woff2') format('woff2'),
    url('fonts/Linearicons-Free.woff') format('woff'),
    url('fonts/Linearicons-Free.ttf') format('truetype'),
    url('fonts/Linearicons-Free.svg#Linearicons-Free') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* /Icon font */


/* Common
-------------------------------------------------- */

// ...

/* /Common */

/* /Typography
---------------------------------------------------------------------------------- */
