/* Utils
---------------------------------------------------------------------------------- */

/* Typography
-------------------------------------------------- */

.u-fs-s {
    font-size: $font-size-s;
}

.u-fs-n {
    font-size: $font-size-n;
}

.u-fs-l {
    font-size: $font-size-l;
}

.u-fs-xl {
    font-size: $font-size-xl;
}

/* /Typography */


/* Color
-------------------------------------------------- */

.u-c-strong {
    color: $color-text-strong;    
}

.u-c-regular {
    color: $color-text-regular;    
}

.u-c-light {
    color: $color-text-light;    
}

/* /Color */

/* /Utils
---------------------------------------------------------------------------------- */
