.update-type {
    
    padding: $offset-n;

    background: $color-bg-light;

    text-align: center;
}

.update-type__heading {
    display: inline-block;
}


.update-type__control {
    display: inline-block;
}

.update-type__select {
    appearance: none;

    margin-left: $offset-s;
    padding: $offset-xs $page-side-padding;
    border: 1px solid $color-brand-main-dark;
    border-radius: $radius-heavy;
    background: transparent;

    color: $color-brand-main-dark;
    font-weight: bold;

    cursor: pointer;

    transition: 
            background $transition-duration $transition-effect, 
            color $transition-duration $transition-effect;
    
    @include respond($mq-desktop) {
        &:hover {
            background: $color-brand-main-dark;
            color: $color-text-inverse-strong;
        }
    }
}
