/* Update type
---------------------------------------------------------------------------------- */

.update-type {
    
    padding: $offset-n;

    background: $color-bg-light;

    text-align: center;
}

.update-type__heading {
    display: inline-block;
}


.update-type__control {
    display: inline-block;
}

.update-type__select {
    display: inline-block;

    margin-left: $offset-s;
}

/* /Message
---------------------------------------------------------------------------------- */
