/* Mixins
---------------------------------------------------------------------------------- */

@import "variables";

@mixin respond ($mq) {
    @media screen and (min-width: #{$mq}) {
        @content;
    }
}

@mixin text-wrap () {
    word-wrap: break-word;
}

@mixin cover ($position: absolute) {
    position: $position;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* /Mixins
---------------------------------------------------------------------------------- */
