/* Mixins
---------------------------------------------------------------------------------- */

@import "variables";

@mixin respond ($mq) {
    @media screen and (min-width: #{$mq}) {
        @content;
    }
}

@mixin hover ($mq: $mq-desktop) {
    @include respond($mq) {
        &:hover {
            @content;
        }
    }
}

@mixin active ($mq: $mq-desktop) {
    @include respond($mq) {
        &:active {
            @content;
        }
    }
}

@mixin text-wrap () {
    word-wrap: break-word;
}

@mixin truncate () {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin cover ($position: absolute) {
    position: $position;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin hidden () {
    position: absolute;
    
    overflow: hidden;
    clip: rect(0 0 0 0);
    
    height: 1px; 
    width: 1px;
    
    margin: -1px; 
    padding: 0; 
    border: 0;
}

/* /Mixins
---------------------------------------------------------------------------------- */
