/* Variables
---------------------------------------------------------------------------------- */

/* Colors
-------------------------------------------------- */

$color-text-regular: #555;
$color-text-light: #999;
$color-text-strong: #222;

$color-text-inverse: #eee;
$color-text-inverse-light: #ccc;
$color-text-inverse-strong: #fff;

$color-bg-regular: #fff;
$color-bg-light: #eee;
$color-bg-lightest: #f4f4f4;
$color-bg-strong: #aaa;

$color-bg-inverse: #444;
$color-bg-inverse-light: #666;
$color-bg-inverse-strong: #222;

$color-brand-main: #84DCC6;
$color-brand-main-light: #A5FFD6;
$color-brand-main-dark: #58b8a3;

$color-brand-secondary: #FF686B;
$color-brand-secondary-light: #FFA69E;
$color-brand-secondary-dark: #c1353f;

$color-border-regular: $color-brand-main-light;
$color-border-light: $color-bg-light;
$color-border-dark: $color-brand-main-dark;
$color-border-strong: $color-bg-strong;


/* /Colors
-------------------------------------------------- */


/* Typography
-------------------------------------------------- */

$root-font-size-mobile: 14px;
$root-font-size-desktop: 18px;

$font-size-n: 1em;
$font-size-s: .85em;
$font-size-l: 1.25em;
$font-size-xl: 1.45em;

$line-height-n: 1.5;
$line-height-s: 1.2;
$line-height-l: 1.8;

/* /Typography
-------------------------------------------------- */


/* Offset
-------------------------------------------------- */

$grid-quant: .25rem;

$offset-xs: 1 * $grid-quant;
$offset-s: 2 * $grid-quant;
$offset-n: 4 * $grid-quant;
$offset-l: 6 * $grid-quant;
$offset-xl: 8 * $grid-quant;
$offset-xxl: 12 * $grid-quant;

/* /Offset
-------------------------------------------------- */


/* Media queries
-------------------------------------------------- */

$mq-desktop: 960px;
$mq-wide: 1200px;

/* /Media queries
-------------------------------------------------- */


/* Page
-------------------------------------------------- */

$page-max-width: 50rem;
$page-side-padding: $offset-l;

/* /Page
-------------------------------------------------- */

/* /Variables
---------------------------------------------------------------------------------- */
