<div class="scraper">
    <div class="scraper__heading">
        {{#>heading tag="h2" level=2}}
            Let's get some News!
        {{/heading}}
    </div>

    <div class="scraper__settings" v-if="!settings.isHidden">
        <update-type></update-type>    
    </div>
    
    <div class="scraper__progress" v-if="!progress.isHidden">
        <progress-bar 
            :current-value="progress.current"
            :total-value="progress.total"
            :messages="progress.messages"
            :results-href="progress.resultsHref"
        ></progress-bar>
    </div>
    
    <div class="scraper__error" v-if="!error.isHidden">
        <message
            icon
            type="error"
            v-text="error.value"
        >
        </message>
    </div>
    
    <div class="scraper__form">
        {{#if directives}}
            <form class="form" action="/scraper" method="post">
                <div class="form__row">
                    <directive-group
                        v-for="(group, idx) in directives"
                        :description="group.description"
                        :directives="group.directives"
                        :id="idx"
                        :name="group.name"
                    ></directive-group>
                </div>
                <div class="form__row">
                    <input type="submit" data-id="scraper-submit" :disabled="isSubmitDisabled" value="Get news!"/>
                </div>
            </form>
            <spinner :is-active="isBusy" :screen="true"></spinner>
        {{else}}
            <message
                icon="sad"
            >
                No directives found :(
            </message>
        {{/if}}
    </div>
    
    <div class="scraper__results" v-if="!result.isHidden" v-for="section in result.pages">
        <news-section
            :news="section.data"
            :title="section.title"
            :url="section.url"
        ></news-section>
    </div>

    <!-- debug/ -->
    <div class="scraper__debug" v-if="debug">
        <button class="button button--small" @click="debugSaveData">
            <icon name="download"></icon>
        </button>
        <button class="button button--small" @click="debugLoadData">
            <icon name="upload"></icon>
        </button>
        <button class="button button--small" @click="debugClearData">
            <icon name="trash"></icon>
        </button>
    </div>
    <!-- /debug -->
</div>
