<div class="scraper">
    <div class="scraper__heading">
        {{#>heading tag="h2" level=2}}
            Let's get some News!
        {{/heading}}
    </div>

    <div class="scraper__form">
        <form class="form" action="/scraper" method="post" data-id="scraper-form">
            <div class="form__row">
                {{#each directives}}
                    {{> directive-group}}
                {{/each}}
            </div>
            <div class="form__row">
                <input type="submit" data-id="scraper-submit" disabled value="OK"/>
            </div>
        </form>
        <strong data-id="scraper-spinner" style="display: none;">
            {{> spinner screen=true}}
        </strong>
    </div>
</div>
