<div class="scraper">
    <div class="scraper__heading">
        {{#>heading tag="h2" level=2}}
            Let's get some News!
        {{/heading}}
    </div>

    <div class="scraper__settings" v-if="!data.settings.isHidden">
        <update-type></update-type>    
    </div>
    
    <div class="scraper__progress" v-if="!data.progress.isHidden">
        <progress-bar 
            :current-value="data.progress.current"
            :total-value="data.progress.total"
            :messages="data.progress.messages"
            :results-href="data.progress.resultsHref"
        ></progress-bar>
    </div>
    
    <div class="scraper__error" v-if="!data.error.isHidden">
        <message
            icon
            type="error"
            v-text="data.error.value"
        ></message>
    </div>
    
    <div class="scraper__form">
        <scraper-form
            :directives="storage.directives"
            :directive-groups-selected="storage.directiveGroupsSelected"
            :directives-selected="storage.directivesSelected"
            :is-busy="data.isBusy"
        ></scraper-form>
    </div>
    
    <div class="scraper__results" v-if="!result.isHidden" v-for="section in storage.result.pages">
        <news-section
            :news="section.data"
            :title="section.title"
            :url="section.url"
        ></news-section>
    </div>

    <!-- debug/ -->
    <div class="scraper__debug">
        <button class="button button--small" @click="debugToggle">
            <icon name="bug"></icon>
        </button>
        <button class="button button--small" @click="debugSaveData" v-if="data.debug">
            <icon name="download"></icon>
        </button>
        <button class="button button--small" @click="debugLoadData" v-if="data.debug">
            <icon name="upload"></icon>
        </button>
        <button class="button button--small" @click="debugClearData" v-if="data.debug">
            <icon name="trash"></icon>
        </button>
    </div>
    <!-- /debug -->
</div>
