<div class="scraper">
    <div class="scraper__heading">
        {{#>heading tag="h2" level=2}}
            Let's get some News!
        {{/heading}}
    </div>

    <div class="scraper__settings">
        <update-type />    
    </div>
    
    <div class="scraper__form">
        {{#if directives}}
        <form class="form" action="/scraper" method="post" data-id="scraper-form">
            <div class="form__row" data-id="scraper-error" style="display: none;">
                <div class="form__error"></div>
            </div>
            <div class="form__row">
                {{#each directives}}
                    {{> directive-group}}
                {{/each}}
            </div>
            <div class="form__row">
                <input type="submit" data-id="scraper-submit" disabled value="Get news!"/>
            </div>
        </form>
        <strong data-id="scraper-spinner" style="display: none;">
            {{> spinner screen=true}}
        </strong>
        {{else}}
            <div class="message">
                No directives found :(
            </div>
        {{/if}}
    </div>
</div>
