<div class="scraper">
    <div class="scraper__heading">
        {{#>heading tag='h2' level=2}}
            Let's get some News!
        {{/heading}}
    </div>
    
    <div class="scraper__form">
        <form class="form" action="/scraper/new">
            <div class="form__row">
                <textarea disabled name="input" id="input" cols="30" rows="10"></textarea>
            </div>
            <div class="form__row">
                <input type="submit" value="OK"/>
            </div>
        </form>
    </div>
</div>
