<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i&amp;subset=cyrillic" rel="stylesheet"/>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<div class="page">
    {{> header header}}
    <main class="content">
        <div class="content__content">
            {{{content}}}
        </div>
    </main>
    {{> footer footer}}
</div>
{{> scripts scripts}}
</body>
</html>
