<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<div class="page">
    {{> header header}}
    <main class="main">
        {{{content}}}
    </main>
</div>
</body>
</html>
